.popular {
    margin-top: 170px;

    @media (max-width: 600px) {
        margin-top: 80px;

    }

    &-main {
        position: relative;
    }

    &-slider {
        margin-top: 60px;

        @media (max-width: 600px) {
            margin: 0;

        }

        &__item {
            background: #3D2942;
            padding: 32px;

            @media (max-width: 700px) {
                padding: 20px 15px;
            }



            &-img {
                position: relative;

                img {
                    max-height: 270px;
                    width: 100%;
                }

            }

            &-profile {
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin: 28px 0;
                margin-bottom: 0;

                &__guy {
                    display: flex;
                    align-items: center;

                    &-nick {
                        font-size: 32px;
                        font-weight: 500;
                        line-height: 36px;
                        display: flex;
                        align-items: center;
                        color: $white2;

                        @media (max-width: 900px) {
                            font-size: 16px;
                        }
                    }

                    img {
                        border-radius: 50%;
                        display: block;
                        overflow: hidden;
                        margin-right: 16px;
                        width: 64px;
                        height: 64px;

                        @media (max-width: 800px) {
                            width: 40px;
                            height: 40px;
                        }
                    }
                }

                &__likes {
                    span {
                        font-weight: 600;
                        font-size: 20px;
                        line-height: 35px;
                        color: $gray2;
                    }
                }
            }
        }
    }

    .swiper {
        overflow: visible !important;


        &-wrapper {
            @media (max-width: 600px) {
                flex-direction: column;
                grid-gap: 45px 0;
            }
        }

        &-slide {
            width: auto;
        }

        &-button-prev::after,
        &-button-next::after {
            display: none;
        }

        &-button-prev {
            transform: rotate(180deg) !important;
        }

        &-button-next {
            left: 90%;
        }

        &-button-next,
        &-button-prev {
            position: absolute;
            top: 50%;
            width: 50px;
            height: 50px;
            z-index: 11;

            @media (max-width: 600px) {
                display: none;
            }
        }

        &-button-prev.swiper-button-disabled,
        &-button-next.swiper-button-disabled {
            display: none;

        }
    }
}